:root {
  --main-color: #fff;
  --secondry-color: #a5a5a5;
  --nav-hoverColor: #c8c8c8;
  --btn-hover: #fcb900;
  --main-font: Raleway;
  --card-clr: #1f1e1e;
}

* {
  margin: 0;
  padding: 0;
}

.main {
  background-image: url(https://skilled.aislinthemes.com/app/uploads/sites/6/layerslider/Homepage-Transparent-Header/bg-slider02.png);
  background-color: rgba(0, 0, 0, 0.297);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100dvh;
  position: relative;
  padding-bottom: 50px;
}

.display {
  display: inline-block;
  padding-top: 20px;
}
.left-nav-item {
  margin-left: 10%;
  padding: 10px;
  margin-right: 45%;
}

.nav-item,
.right-nav-item {
  font-weight: 700;
  margin-right: 8px;
  font-family: var(--main-font);
  color: var(--main-color);
}
.right-nav-item {
  color: var(--secondry-color);
}

.user-icon {
  margin-right: 10px;
  color: var(--main-color);
}
.nav-item:hover {
  color: var(--nav-hoverColor);
}

.header-main-text {
  margin-top: 15%;
  text-align: center;
}

.head-one,
.text {
  font-family: var(--main-font);
  font-size: 45px;
  font-weight: 900;
  line-height: 45px;
  color: var(--main-color);
  padding: 10px;
}

.text {
  font-size: 35px;
  font-weight: 700;
  line-height: 35px;
}

.price {
  margin-left: 40%;
  margin-top: 10px;
}
.was-price,
.was-priceNum,
.now-price,
.now-priceNum {
  color: var(--main-color);
  font-size: 33px;
  font-family: var(--main-font);
}
.was-price {
  position: relative;
}
.was-priceNum {
  color: var(--secondry-color);
}

.was-price::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 60px;
  top: 67px;
  left: 41px;
  background-color: var(--secondry-color);
  transform: skew(-40deg);
}

.now-price {
  position: relative;
}

.now-price::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 86px;
  top: 26px;
  left: -43px;
  background-color: var(--main-color);
}

.price-cotainer {
  margin-right: 10%;
}

.btn-section {
  margin-top: 3%;
  text-align: center;
}
.btn {
  padding: 15px;
  background-color: transparent;
  color: var(--main-color);
  font-family: var(--main-font);
  border: 1px solid var(--main-color);
  border-radius: 4px;
}
.btn:hover {
  color: var(--btn-hover);
  border: 1px solid var(--btn-hover);
}

.cards {
  display: inline-block;
  margin-left: 5%;
  margin-right: 17%;
}
.card {
  display: inline-block;
  width: 20%;
  position: absolute;
  bottom: -250px;
}
.circle {
  text-align: center;
}
.icon {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgb(79, 79, 228);
  text-align: center;
  font-size: 80px;
  margin-left: 40px;
  color: var(--main-color);
}

.card-title {
  color: var(--card-clr);
  font-size: 25px;
  font-family: var(--main-font);
  font-weight: 800;
  margin: 10px 0;
}
.bell-icon {
  margin-top: 8%;
  border: 8px solid rgb(156, 156, 230);
  padding: 20%;
  border-radius: 50%;
}

.card-paragraph {
  color: var(--secondry-color);
  font-family: var(--main-font);
}
