* {
  margin: 0;
  padding: 0;
}

.first-header{
    padding: 15px;
   background-image: linear-gradient(#fd7e14,#ffc107);
}
.ad-head{
    display:inline-block ;
    font-size: 25px;
    margin-right: 25px;
    padding-left: 10px;

}
.ad-span{
    font-size: 20px;
    margin-right: 10px;
    padding-right: 5px;
    border-right: 2px solid #b15306;
}
.last-span{
    border: none;
}
.shop-button{
   padding: 8px 10px;
   border: none;
   background-color: #00a976be;;
   color: rgb(236, 236, 236);
   font-size:16px ;
   border-radius:4px ;
   margin-left: 10px;
}
.main-header {
  background-color: rgb(243, 243, 243);
}
.background-logo {
  background-color: white;
  margin-top: 10px;
}
.left-content {
  background-color: white;
  width: 15%;
  display: inline-block;
  margin-right: 30px;

  padding: 5px 30px;
  position: relative;
}
.header-content {
  padding-top: 20px;
}
.left-content::after {
  content: "";
  width: 50px;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  right: -36px;
  transform: skew(20deg);
}
.right-content {
  width: 65%;
  display: inline-block;
  margin-left: 10%;
  padding: 5px 0;
}
.top-right-content {
  display: inline-block;
  padding: 10px 0px;
  background-color: white;
  width: 100%;
  position: relative;
}
.social {
  display: inline-block;
  margin-left: 100px;
}
.top-right-content::after {
  content: "";
  width: 50px;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  left: -35px;
  transform: skew(20deg);
}
.top-right-text {
  margin-left: 30px;
}

.bottom-right-nav {
  display: inline-block;
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

.display {
  display: inline-block;
  margin-left: 30px;
  padding-right: 10px;
}

.navigation {
  list-style: none;
  display: inline-block;
  margin-left: 30px;
}
.navigatiolist-item {
  display: inline-block;
  margin-right: 2rem;
  font-size: 22px;
  padding: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 600;
  position: relative;
}
.navigatiolist-item::after {
content: "";
width: 0;
height: 5px;
position: absolute;
bottom: 0;
left: 0;
background-color: rgb(154, 6, 154);
  transition: width .3s;
}

.navigatiolist-item:hover::after {
    width: 100%;
    transition: width .3s;
}

.food-img {
  width: 100%;
  margin: auto;
}

.sliderSection {
  margin-top: 10px;
}
